.search{
    position: absolute;
    left: 78%;
    top: 5%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.search input{
    color: black;
    padding: 8px 20px 8px 20px;
    border-radius: 20px;
}